index	

30	Farming

31	Transformation

32	Emballage

33	Transport

34	Supermarket and distribution

35	Consomation

In [66]:
#check duplicate
import json
from collections import Counter
def extract_names(file_path):
    with open(file_path, "r", encoding="utf-8") as file:
        data = json.load(file)
        # Access 'data' key, which contains a list of dictionaries
        return [item['name'] for item in data['data']]  # Extract 'name' from each item in 'data'

# List of JSON file paths
json_files = [r"D:\Documents\GitHub\Final_Project\food.json", r"D:\Documents\GitHub\Final_Project\boisson.json", r"D:\Documents\GitHub\Final_Project\veggies.json"]

# Initialize an empty list to hold all names
all_names = []

# Extract names from each file and add to all_names
for file in json_files:
    all_names.extend(extract_names(file))

# Count occurrences of each name using Counter
name_counts = Counter(all_names)

unique_names = list(set(all_names))

print("Unique names:", unique_names)

# Duplicates value
duplicates = [name for name, count in name_counts.items() if count > 1]

print("Duplicate names:", duplicates)

Unique names: ['Eau en bouteille', 'Banane', 'Pain au chocolat ou chocolatine', 'Fêta (brebis)', 'Fraise', 'Carambole', 'Poireau', 'Repas avec du poisson blanc', 'Croissant au beurre', 'Canard', 'Blé', 'Pomme', 'Bonbons gélifiés', 'Pain de mie', "Saumon ou truite d'élevage (cru)", 'Figue', 'Baguette tradition', 'Pâtes (sèches)', 'Repas végétalien', 'Fromage à pâte molle', 'Blette', 'Datte', 'Crevettes', 'Navet', 'Lentilles (blondes, vertes, corail)', 'Nectarine', 'Noix', 'Thon (cru)', 'Lait de vache', 'Riz', 'Pâte à tartiner à la noisette', 'Cresson', 'Aubergine', 'Huitres', 'Ananas', 'Kebab', 'Boeuf', 'Brownie au chocolat', 'Champignon (morille crue)', 'Salsifis', 'Chou', 'Melon', 'Tofu nature', 'Cabillaud (cru)', 'Pêche', 'Courgette', 'Fromage à pâte dure', 'Pamplemousse', 'Potiron', 'Café', 'Reine claude', 'Myrtille', 'Moules', 'Groseille', 'Rocher au chocolat', 'Madeleine', 'Mandarine', 'Mangue (importée par avion)', 'Fruit de la passion', 'Céleri', 'Cheeseburger', 'Vin', 'Repas avec du boeuf', 'Clémentine', 'Noix de coco', 'Betterave', 'Repas végétarien', 'Mangue (importée par bateau)', 'Porc', 'Frites (friteuse)', 'Rhubarbe', 'Citron', 'Épinard', 'Artichaut', 'Lapin', 'Soda', 'Kiwi', 'Mozarella', 'Chou de Bruxelles', 'Pois chiches', 'Cassis', 'Laitue', 'Courge', 'Poulet', 'Pizza quatre fromages', 'Kaki', 'Pain aux raisins', 'Eau du robinet', 'Maïs', 'Thé', 'Concombre', 'Repas avec du poulet', 'Beurre', 'Avocat', 'Échalote', 'Repas avec du poisson gras', 'Oignon', 'Poivron', 'Fromage bleu', 'Topinambour', 'Prune', 'Fromage blanc 0%', 'Sushis ou makis', 'Boulgour', 'Ail', 'Chou-fleur', 'Petit pois', 'Orange', 'Endive', 'Cerise', 'Abricot', 'Bière', 'Veau', 'Poire', 'Oeufs', 'Burger végétarien', 'Sardines', 'Pomme de terre nouvelle', 'Boisson au soja', 'Noisette', 'Carotte', 'Burger au poulet', 'Yaourt nature ou yaourt à la grecque', 'Mâche', 'Lieu jaune ou colin (cru)', 'Tomate', 'Haricot vert (cru)', 'Pastèque', 'Matière grasse végétale', 'Châtaigne', 'Dorade royale', 'Raisin', 'Cookie au pépites de chocolat', 'Mûre', 'Brocoli', 'Coing', 'Panais', 'Haricots rouges', 'Chausson aux pommes', 'Fenouil', 'Radis', 'Framboise', 'Grenade', 'Asperge']
Duplicate names: ['Lait de vache', 'Maïs', 'Pomme', 'Carotte', 'Courgette', 'Tomate', 'Potiron', 'Laitue', 'Banane', 'Mangue (importée par avion)', 'Poireau', 'Avocat']

In [70]:
len(unique_names)

144

In [ ]:
import pandas as pd
df1 =pd.read_json(r"D:\Documents\GitHub\Final_Project\food.json")
df2 =pd.read_json(r"D:\Documents\GitHub\Final_Project\boisson_unique.json")
df3 =pd.read_json(r"D:\Documents\GitHub\Final_Project\veggies_unique.json")

In [54]:
print(df3)

                                                 data
0   {'name': 'Maïs', 'slug': 'mais', 'ecv': 0.5687...
1   {'name': 'Pomme', 'slug': 'pomme', 'ecv': 0.40...
2   {'name': 'Carotte', 'slug': 'carotte', 'ecv': ...
3   {'name': 'Courgette', 'slug': 'courgette', 'ec...
4   {'name': 'Tomate', 'slug': 'tomate', 'ecv': 0....
..                                                ...
82  {'name': 'Fruit de la passion', 'slug': 'fruit...
83  {'name': 'Grenade', 'slug': 'grenade', 'ecv': ...
84  {'name': 'Kaki', 'slug': 'kaki', 'ecv': 0.9495...
85  {'name': 'Noix de coco', 'slug': 'noixdecoco',...
86  {'name': 'Pastèque', 'slug': 'pasteque', 'ecv'...

[87 rows x 1 columns]

In [67]:
#merge 3 json in one
# List of JSON file paths
json_files = [r"D:\Documents\GitHub\Final_Project\food.json", r"D:\Documents\GitHub\Final_Project\boisson_unique.json", r"D:\Documents\GitHub\Final_Project\veggies_unique.json"]

# Initialize an empty list to store merged data
merged_data = []

# Read each file and extract 'data' key contents
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data = json.load(f)
        merged_data.extend(data['data'])  # Append the list inside 'data' key

# Save the merged data into a new JSON file
merged_json = {"data": merged_data}  # Wrap in 'data' key

with open("merged.json", "w", encoding="utf-8") as f:
    json.dump(merged_json, f, indent=4, ensure_ascii=False)  # Pretty print with UTF-8 support

print("Merged JSON saved to merged.json")

Merged JSON saved to merged.json

In [2]:
import pandas as pd
df_merged =pd.read_json(r"D:\Documents\GitHub\Final_Project\merged.json")
print(df_merged)

                                                  data
0    {'name': 'Boeuf', 'slug': 'boeuf', 'ecv': 28.0...
1    {'name': 'Veau', 'slug': 'veau', 'ecv': 22.504...
2    {'name': 'Porc', 'slug': 'porc', 'ecv': 6.6713...
3    {'name': 'Canard', 'slug': 'canard', 'ecv': 8....
4    {'name': 'Lapin', 'slug': 'lapin', 'ecv': 5.78...
..                                                 ...
143  {'name': 'Huile de palme', 'slug': 'huiledepal...
144  {'name': 'Huile de colza', 'slug': 'huiledecol...
145  {'name': 'Huile de soja', 'slug': 'huiledesoja...
146  {'name': 'Huile de tournesol', 'slug': 'huiled...
147  {'name': 'Seigle', 'slug': 'seigle', 'ecv': 1....

[148 rows x 1 columns]

In [13]:
#Transform JSON to CSV
import json
import csv

# Load JSON file
with open(r"D:\Documents\GitHub\Final_Project\merged.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Extract list of dictionaries from "data" key
items = data["data"]

csv_file = "reference.csv"

headers = ["name", "slug", "ecv", "footprint", "footprintDetail_id", "footprintDetail_value"]

with open(csv_file, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(headers)  # Write column names

    # Iterate over each item in the JSON
    for item in items:
        # If 'footprintDetail' exists and is a list, create multiple rows
        if "footprintDetail" in item and isinstance(item["footprintDetail"], list):
            for detail in item["footprintDetail"]:
                writer.writerow([
                    item["name"],
                    item["slug"],
                    item["ecv"],
                    item["footprint"],
                    detail["id"],
                    detail["value"]
                ])
        else:
            # Write a single row if 'footprintDetail' is missing or empty
            writer.writerow([
                item["name"],
                item["slug"],
                item["ecv"],
                item["footprint"],
                None,
                None
            ])

print(f"CSV file '{csv_file}' created successfully!")

CSV file 'reference.csv' created successfully!

In [14]:
import pandas as pd
df = pd.read_csv(r"D:\Documents\GitHub\Final_Project\reference.csv")
df.columns = df.columns.str.lower()
df.drop(columns=["ecv"], inplace=True)
df

       name    slug  footprint  footprintdetail_id  footprintdetail_value
0     Boeuf   boeuf  28.009170                30.0              27.316667
1     Boeuf   boeuf  28.009170                31.0               0.088917
2     Boeuf   boeuf  28.009170                32.0               0.217000
3     Boeuf   boeuf  28.009170                33.0               0.308333
4     Boeuf   boeuf  28.009170                34.0               0.043967
..      ...     ...        ...                 ...                    ...
741  Seigle  seigle   1.226263                30.0               0.665500
742  Seigle  seigle   1.226263                31.0               0.151038
743  Seigle  seigle   1.226263                32.0               0.240525
744  Seigle  seigle   1.226263                33.0               0.151500
745  Seigle  seigle   1.226263                34.0               0.017700

[746 rows x 5 columns]

In [15]:
df["slug"] = df["slug"].replace({"champignonmorille": "champignon"})

In [19]:
df_pivot = df.pivot_table(index=['slug', 'footprint'],
                          columns='footprintdetail_id',
                          values='footprintdetail_value',
                          aggfunc='first')  # or use another aggregation if needed

# Reset the index to bring 'slug' and 'footprint' as columns
df_pivot.reset_index(inplace=True)

# Rename columns for clarity
df_pivot.columns = [f'footprintdetail_value_{col}' if isinstance(col, int) else col for col in df_pivot.columns]

# Group by 'slug' and aggregate, if necessary
df_grouped = df_pivot.groupby('slug', as_index=False).agg(lambda x: x.iloc[0])  # Aggregating using the first value

print(df_grouped)

            slug  footprint       30.0      31.0   32.0   33.0    34.0  \
0        abricot   1.451508   0.347000  0.000108  0.657  0.342  0.0248
1            ail   0.383493   0.084100  0.000193    NaN  0.198  0.0206
2         ananas   1.361435   0.368000  0.000034    NaN  0.645  0.0254
3      artichaut   2.556166   0.615000  0.000266    NaN  0.596  0.0549
4        asperge   1.638878   0.970000  0.000178    NaN  0.417  0.0367
..           ...        ...        ...       ...    ...    ...     ...
136       tomate   0.625600   0.222000       NaN    NaN  0.298  0.0250
137  topinambour   0.491266   0.270000  0.000067    NaN  0.170  0.0189
138         veau  22.504653  21.833333  0.074033  0.217  0.302  0.0440
139          vin   1.268630   0.301000  0.033100  0.679  0.233  0.0157
140       yaourt   1.894730   1.030000  0.152000  0.422  0.247  0.0369

         35.0
0    0.080600
1    0.080600
2    0.323000
3    1.290000
4    0.215000
..        ...
136  0.080600
137  0.032300
138  0.034287
139  0.006830
140  0.006830

[141 rows x 8 columns]

In [27]:
df_grouped.columns.values[2] = 'farming'
df_grouped.columns.values[3] = 'processing'
df_grouped.columns.values[4] = 'packaging'
df_grouped.columns.values[5] = 'transport'
df_grouped.columns.values[6] = 'retail'
df_grouped.columns.values[7] = 'consumption'

In [28]:
df_grouped

,slug,footprint,farming,processing,packaging,transport,retail,consumption
0,abricot,1.451508,0.347000,0.000108,0.657,0.342,0.0248,0.080600
1,ail,0.383493,0.084100,0.000193,NaN,0.198,0.0206,0.080600
2,ananas,1.361435,0.368000,0.000034,NaN,0.645,0.0254,0.323000
3,artichaut,2.556166,0.615000,0.000266,NaN,0.596,0.0549,1.290000
4,asperge,1.638878,0.970000,0.000178,NaN,0.417,0.0367,0.215000
...,...,...,...,...,...,...,...,...
136,tomate,0.625600,0.222000,NaN,NaN,0.298,0.0250,0.080600
137,topinambour,0.491266,0.270000,0.000067,NaN,0.170,0.0189,0.032300
138,veau,22.504653,21.833333,0.074033,0.217,0.302,0.0440,0.034287
139,vin,1.268630,0.301000,0.033100,0.679,0.233,0.0157,0.006830
140,yaourt,1.894730,1.030000,0.152000,0.422,0.247,0.0369,0.006830

In [29]:
df_grouped.to_csv("reference.csv", index=False)